#page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: paleturquoise;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  background-color: white;
  width: 90vmin;
  height: 45vmin;
}
